body {
    margin: 0;
    padding: 0;
}

#container {
    height: 400px;
    position: relative;
    padding-left: 160px;
    box-sizing: border-box;
}

#sidebar {
    position: absolute;
    width: 150px;
    margin-left: -160px;
    height: 100vh;
    box-sizing: border-box;
}

#osmdCanvas {
    width: calc(100vw - 160px);
    box-sizing: border-box;
    height: 100vh;
    overflow-y: auto;
}

#instruments {
    padding-top: 115px;
}

#instruments .elem-ul {
    list-style-type: none;
    margin: 0px 0px 0px 20px;
    padding: 0;
    position: relative;
}

#instruments .elem-ul .elem-li {
    margin: 0;
    padding: 0;
    max-height: 96px;
    overflow: visible;
}

#instruments .elem-ul .elem-li.instr {
    position: absolute;
    transition: top ease-in-out 0.24s;
}

#instruments .elem-ul .elem-li .instrument-container {
    width: 150px;
    height: 72px;
    text-align: center;
    position: absolute;
    top: 0;
}

#instruments .elem-ul .elem-li img {
    transition: all ease-in-out 0.05;
}

#fileloader {
    position: relative;
    left: calc(50vw - 25px);
    top: calc(50vh - 25px);
    height: 50px;
    width: 50px;
}

.folder-container {
    width: 50px;
    height: 50px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}

.folder-tab,
.folder {
    margin: 0 auto;
    background-color: #ffb120;
}

.folder-tab {
    width: 25px;
    height: 5px;
    margin-right: 50%;
    border-radius: 5px 15px 0 0;
}

.folder {
    width: 50px;
    height: 35px;
    border-radius: 0 5px 5px 5px;
    box-shadow: 1px 1px 1px 0px #ac7816b0;
}